[submodule "ssl-logtools"]
	path = ssl-logtools
	url = git@github.com:RoboCup-SSL/ssl-logtools.git
[submodule "ssl-vision"]
	path = ssl-vision
	url = git@github.com:RoboCup-SSL/ssl-vision.git
[submodule "ssl-game-controller"]
	path = ssl-game-controller
	url = git@github.com:RoboCup-SSL/ssl-game-controller.git
